---
Checks:          '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm-*,-misc-non-private-*,-cppcoreguidelines-pro-type-reinterpret-cast'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle:     none

